        .body {
            background-color: black;
            color: white;
            height: 150px;
            border-radius: 10px;
            padding: 10px;
        }

        div {
            padding: 10px;
        }

        .element {
            background-color: orange;
            color: white;
            padding-left: 10px;
            padding-right: 10px;
            text-decoration: none;
            border-radius: 5px;
        }

        .one {
            background-color: rgb(106, 50, 238);
            color: rgb(3, 0, 0);
            display: inline-block;
            height: 200px;
            border-radius: 10px;
        }

        .two {
            background-color: orange;
            color: black;
            display: inline-block;
            border-radius: 10px;
            height: 200px;
            vertical-align: top;
        }

        .three {
            background-color: black;
            color: white;
            border-radius: 10px;
            margin-top: 10px;
        }

        .four {
            background-color: rgb(76, 0, 255);
            color: white;
            padding-left: 10px;
            padding-right: 10px;
            text-decoration: none;
            border-radius: 10px;
        }
